# ML-ZOOMCAMP-HOMEWORK-1

In [27]:
import numpy
numpy.version.version

'1.21.5'

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data.csv')
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [3]:
import sklearn

#### How many records are in the dataset?

In [4]:
count_rows = df.shape[0]
print(count_rows)

11914

#### Who are the most frequent car manufacturers (top-3) according to the dataset?

In [5]:
n = 3
df['Make'].value_counts()[:n].index.tolist()

['Chevrolet', 'Ford', 'Volkswagen']

#### What's the number of unique Audi car models in the dataset?

In [6]:
df['Make'].unique()

array(['BMW', 'Audi', 'FIAT', 'Mercedes-Benz', 'Chrysler', 'Nissan',
       'Volvo', 'Mazda', 'Mitsubishi', 'Ferrari', 'Alfa Romeo', 'Toyota',
       'McLaren', 'Maybach', 'Pontiac', 'Porsche', 'Saab', 'GMC',
       'Hyundai', 'Plymouth', 'Honda', 'Oldsmobile', 'Suzuki', 'Ford',
       'Cadillac', 'Kia', 'Bentley', 'Chevrolet', 'Dodge', 'Lamborghini',
       'Lincoln', 'Subaru', 'Volkswagen', 'Spyker', 'Buick', 'Acura',
       'Rolls-Royce', 'Maserati', 'Lexus', 'Aston Martin', 'Land Rover',
       'Lotus', 'Infiniti', 'Scion', 'Genesis', 'HUMMER', 'Tesla',
       'Bugatti'], dtype=object)

In [7]:
df_audi= df[df['Make']=='Audi']
df_audi.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
17,Audi,100,1992,regular unleaded,172.0,6.0,MANUAL,front wheel drive,4.0,Luxury,Midsize,Sedan,24,17,3105,2000
18,Audi,100,1992,regular unleaded,172.0,6.0,MANUAL,front wheel drive,4.0,Luxury,Midsize,Sedan,24,17,3105,2000
19,Audi,100,1992,regular unleaded,172.0,6.0,AUTOMATIC,all wheel drive,4.0,Luxury,Midsize,Wagon,20,16,3105,2000
20,Audi,100,1992,regular unleaded,172.0,6.0,MANUAL,front wheel drive,4.0,Luxury,Midsize,Sedan,24,17,3105,2000
21,Audi,100,1992,regular unleaded,172.0,6.0,MANUAL,all wheel drive,4.0,Luxury,Midsize,Sedan,21,16,3105,2000

In [8]:
len(df_audi['Model'].unique().tolist())

34

#### How many columns in the dataset have missing values?

In [9]:
(df.isna().sum(axis=0) > 0).sum()

5

#### Question 6

Find the median value of "Engine Cylinders" column in the dataset.

In [10]:
df['Engine Cylinders'].median()

6.0

Next, calculate the most frequent value of the same "Engine Cylinders".

In [11]:
df['Engine Cylinders'].value_counts().idxmax()

4.0

Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.

In [12]:
df['Engine Cylinders'].fillna(df['Engine Cylinders'].value_counts().idxmax())

0        6.0
1        6.0
2        6.0
3        6.0
4        6.0
        ...
11909    6.0
11910    6.0
11911    6.0
11912    6.0
11913    6.0
Name: Engine Cylinders, Length: 11914, dtype: float64

Now, calculate the median value of "Engine Cylinders" once again.

In [13]:
df['Engine Cylinders'].mean()

5.628828677213059

Select all the "Lotus" cars from the dataset.

In [14]:
df_lotus = df[df['Make']=='Lotus']
df_lotus.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
3912,Lotus,Elise,2009,premium unleaded (required),189.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,27,21,613,43995
3913,Lotus,Elise,2009,premium unleaded (required),218.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,26,20,613,54990
3914,Lotus,Elise,2009,premium unleaded (required),189.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,27,21,613,47250
3915,Lotus,Elise,2010,premium unleaded (required),189.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,27,21,613,47250
3916,Lotus,Elise,2010,premium unleaded (required),218.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,26,20,613,54990

Select only columns "Engine HP", "Engine Cylinders".

In [15]:
df_lotus_selected = df_lotus[['Engine HP','Engine Cylinders']]
df_lotus_selected.head()

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3914      189.0               4.0
3915      189.0               4.0
3916      218.0               4.0

Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).

In [19]:
X =df_lotus_selected.drop_duplicates(keep='first')
X.head()

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0

Get the underlying NumPy array. Let's call it X.

Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

In [20]:
X = np.array(X)

Invert XTX.

In [21]:
XTX = X.T.dot(X)

In [22]:
XTX_inverse = np.linalg.inv(XTX)

Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].

In [23]:
y= np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

In [24]:
w = XTX_inverse.dot(X.T).dot(y)

What's the value of the first element of w?

In [26]:
w[0]

4.5949448100945744